<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Blog Posts</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Affiliates</h3>
                        <ul class="alt">
                            <li><a href="http://levlup.co">LevlUp</a></li>
                            <li><a href="http://mastermindseo.org">MasterMind SEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>About CorrecText</h2>
                <p>Never loose the context of a message to bad grammar or spelling</p>
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; CorrecText. All rights reserved.</li>
            <li>Design: <a href="http://nedgo.io">Nedgo.IO</a></li>
        </ul>
    </div>
</footer>
